* {
    padding: 0;
    margin: 0;
}

.main {
    height: 250px;
    width: 800px;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main div {
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 8px;
    border: 3px double red;

}

.main2 {
    height: 250px;
    width: 800px;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.main2 div {
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 8px;
    border: 3px double red;
}

.main3 {
    height: 250px;
    width: 800px;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.main3 div {
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 8px;
    border: 3px double red;
}

