* {
    background-color: black;
    color: white;
    align-items: center;
}

:root {
    --bg_color : rgb(43, 204, 225);
}

.first {
    margin: 90px;
    background-color: var(--bg_color);
    border: 10px solid red;
    padding: 100px;
    width: 100px;
    height: 100px;
    
}

.first p {
    color: green;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
}

.first:hover {
    transition: 5s;
    border-radius: 100%;
    font-size: 2rem;
    font-style: italic;
    text-decoration:line-through;
}
